*
.fon {
    width: 1920px;
    height: 1200px;
    left: 6px;
    gap: 0px;

}
h1{
position: absolute;
color: white;
width: 978px;
height: 192px;
top: 284px;
left: 195px;
font-family: Montserrat;
font-size: 72px;
font-weight: 800;
line-height: 96px;
text-align: left;
gap: 40px;
}
.logoBig { 
    position: relative;
    background-image: url(./image/Vector6.png); 
    background-repeat: no-repeat; 
    background-size:  265px;
    background-position: left 143px  top 68px;
    } 

.logo {
    position: absolute;
    width: 265px;
    height: 200px;
    top: 68px;
    left: 143px;  
}

.text{
    position: absolute;
    width: 103px;
height: 24px;
top: 40px;
left: 760px;
font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 24.38px;
text-align: left;
width: 849px;
height: 24px;
top: 40px;
left: 760px;
}
.name{
    position: absolute;
    color: white;
    width: 978px;
height: 192px;
top: 284px;
left: 195px;
font-family: Montserrat;
font-size: 72px;
font-weight: 800;
line-height: 96px;
text-align: left;
gap: 40px;
}
.photo{
    position: absolute;
    width: 206px;
height: 516px;
top: 133px;
left: 1516px;
}
.photo1{
    position: absolute;
    width: 709px;
height: 515px;
top: 425px;
left: 1012px;
}
.trip{
    position: absolute;
    width: 256px;
height: 65px;
top: 546px;
left: 195px;
border-radius: 50px 50px 50px 50px;
background-color: #FF8D3F;
color: white;
}
.xer{
    position: absolute;
    width: 709px;
height: 512px;
top: 1560px;
left: 1012px;
padding: 13.64px 0px 0px 38.03px;
}
.a{
    width: 200px;
    height: 399.19px;
    top: 1325.73px;
    left: 50px;
}
.s{

}
.d{

}
.f{

}
.g{

}
.h{

}
.j{

}
.k{

}
.name22{
    position: absolute;
    top: 4000px;
    left: 674px;
}
.help1{
    position: absolute;
    width: 430px;
height: 430px;
top: 4200px;
left: 436px;
}
.help4{
    position: absolute;
    width: 100px;
height: 100px;
top: 4200px;
left: 463px;
gap: 0px;
border: 8px 0px 0px 0px;
}
.help5{
    position: absolute;
top: 4225px;
left: 488px;
}
.help6{
    position: absolute;
top: 4300px;
left: 946px;
}
.help7{
    position: absolute;
    color: white;
    background-color: #FF8D3F;
    width: 256px;
height: 65px;
top: 4400px;
left: 946px;
border-radius: 50px 50px 50px 50px;
}
.lp{
    position: absolute;
    width: 657px;
height: 647.69px;
top: 4650px;
left: 645px;
border: 10px 0px 0px 0px;
}
.help8{
    position: absolute;
    width: 430px;
    height: 430px;
    top: 4680px;
    left: 1027px;
    gap: 0px;
    border: 5px 0px 0px 0px;
    opacity: 0px;
    
}
.help9{
    position: absolute;
    width: 299.09px;
    height: 359.04px;
    top: 4700px;
    left: 1100px;
    gap: 0px;
    opacity: 0px;
    
}
.help10{
    position: absolute;
    width: 100px;
height: 100px;
top: 4700px;
left: 1030px;
border: 8px 0px 0px 0px;
}
.help11{
    position: absolute;
top: 4725px;
left: 1059px;
}
.help12{
position: absolute;
top: 4900px;
left: 463px;
}
.help13{
    position: absolute;
    width: 430px;
    height: 430px;
    top: 5200px;
    left: 436px;
    border: 5px 0px 0px 0px;
}
.help14{
    position: absolute;
    width: 229px;
    height: 348px;
    top: 5250px;
    left: 575px;
    padding: 0px 5.62px 6.84px 0.08px;
}
.help15{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 5200px;
    left: 447px;
    border: 8px 0px 0px 0px;
}
.help16{
    position: absolute;
    top: 5225px;
    left: 472px;    
}
.help17{
    position: absolute;
    top: 5400px;
    left: 943px;
}
.help18{
    position: absolute;
    top: 6000px;
    left: 193px;
}
.help19{
    position: absolute;
    width: 114px;
    height: 114px;
    top: 6000px;
    left: 843px;
}
.help20{
position: absolute;
width: 62px;
height: 62px;
top: 6025px;
left: 860px;
padding: 6.8px 6.79px 6.8px 6.8px;
}
.help21{
    position: absolute;
    width: 114px;
    height: 114px;
    top: 6000px;
    left: 1235px;
}
.help22{
    position: absolute;
    width: 48px;
    height: 48px;
    top: 6025px;
    left: 1268px;
}
.out{
    position: absolute;
    width: 845.97px;
height: 755.85px;
top: 4400px;
left: 1095.55px;
}
.har{
height: 100px;
top: px;
left: 1674px;
font-family: Montserrat;
font-size: 36px;
font-weight: 800;
line-height: 50px;
text-align: center;
}
.footer888{
    position: absolute;
    width: 1920px;
height: 416px;
top: 6200px;
left: -2px;
}
.nane888{
    position: absolute;
width: 1034px;
height: 19px;
top: 6500px;
left: 447px;
}
.logot{
    position: absolute;
    width: 265px;
    height: 200px;
    top: 3000px;
    left: 143px;  
}
.full{
    position: absolute;
    width: 849px;
    height: 24px;
    top: 6600px;
    left: 760px;
}
.name2{
    top: 3500px;
    left: 195px;
    font-family: Montserrat;
font-size: 64px;
font-weight: 800;
line-height: 96px;
text-align: left
}
.logo2{
    position: absolute;
    width: 265px;
    height: 200px;
    top: 7000px;
    left: 143px;  
}
.text2{
    position: absolute;
    width: 849px;
height: 24px;
top: 26700px;
left: 760px;
}
h2{
    position: absolute;
    width: 1088px;
height: 192px;
top: 26700px;
left: 195px;
}
.trip2{
    position: absolute;
    width: 256px;
height: 65px;
top: 26900px;
left: 195px;
border-radius: 50px 50px 50px 50px;
background-color: #FF8D3F;
color: white;
}
.photo2{
    position: absolute;
    width: 1141px;
height: 607.06px;
top: 23800px;
left: 760px;
}
.fon2{
    position: absolute;
    width: 1920px;
    height: 809px;
top: 4450px;
left: 1px;
}   

.prolog{
    position: absolute;
    width: 1070px;
height: 666px;
top: 24500px;
left: 522px;
gap: 0px;
border-radius: 30px 30px 30px 30px;
}
.prolog2{
    position: absolute;
    width: 891px;
height: 524px;
top: 4550px;
left: 614px;
}
.krip{
    position: absolute;
    width: 1920px;
height: 180px;
top: 5250px;
left: 1px;
}
.footer{
    position: absolute;
    width: 1934px;
top: 5431px;
left: 1px;
}
.nane{
    position: absolute;
top: 5750px;
left: 300px;
}
.fon3{
    position: absolute;
    width: 1920px;
height: 494px;
top: 5870px;
}
.logo3{
    position: absolute;
    width: 265px;
    height: 200px;
    top: 5870px;
    left: 143px;  
}
.text3{
    position: absolute;
    width: 849px;
    height: 24px;
    top: 5900px;
    left: 760px;
}
.name3{
    position: absolute;
top: 6100px;
left: 416px;
}
.z{
position: absolute;
width: 490px;
height: 490px;
top: 6300px;
left: 195px;
gap: 0px;
border-radius: 20px 0px 0px 0px;
}
.x{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 6300px;
    left: 695px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
}
.c{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 6300px;
    left: 1195px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
}
.v{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 6800px;
    left: 195px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    
}
.b{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 6800px;
    left: 695px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
}
.n{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 6800px;
    left: 1195px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
}
.m{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 7300px;
    left: 195px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    
    
}
.q{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 7300px;
    left: 695px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
}
.w{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 7300px;
    left: 1195px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
}
.zx{
    position: absolute;
  
    top: 6400px;
    left: 304px;

    
}
.xc{
    position: absolute;
  
    top: 6400px;
    left: 804px;
}
.cv{
    position: absolute;
    top: 6400px;
    left: 1304px;
}
.vb{
    position: absolute;
    top: 6900px;
    left: 304px;

    
}
.bn{
    position: absolute;
    top: 6900px;
    left: 804px;
}
.nm{
    position: absolute;
    top: 26900px;
    left: 1204px;
}
.mq{
    position: absolute;
    top: 7400px;
    left: 304px;

    
}
.qw{
    position: absolute;
    top: 7400px;
    left: 804px;  
}
.we{
    position: absolute;
    top: 7400px;
    left: 1304px;
}
.footer2{
    position: absolute;
top: 8050px;
left: 1px;
}
.nane2{
    position: absolute;
    width: 834px;
top: 8300px;
left: 600px;
}
.fon4{
    position: absolute;
    width: 1920px;
height: 494px;
top: 8500px;
}
.logo4{
    position: absolute;
    width: 265px;
    height: 200px;
    top: 8500px;
    left: 143px;  
}
.text4{
    position: absolute;
    top: 8500px;
    left: 760px;
}
.name4{
    position: absolute;
    top: 8600px;
    left: 16px;
}