*
.fon {
    width: 100%;
    height: 1229px;
    left: 6px;
    gap: 0px;

}
h1{
position: absolute;
color: white;
width: 978px;
height: 192px;
top: 284px;
left: 195px;
font-family: Montserrat;
font-size: 72px;
font-weight: 800;
line-height: 96px;
text-align: left;
gap: 40px;
}
.logoBig { 
    position: relative;
    background-image: url(./image/Vector6.png); 
    background-repeat: no-repeat; 
    background-size:  265px;
    background-position: left 143px  top 68px;
    } 

.logo {
    position: absolute;
    width: 265px;
    height: 200px;
    top: 68px;
    left: 143px;  
}

.text{
    position: absolute;
    width: 103px;
height: 24px;
top: 40px;
left: 760px;
font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 24.38px;
text-align: left;
width: 849px;
height: 24px;
top: 40px;
left: 760px;
}
.name{
    position: absolute;
    color: white;
    width: 978px;
height: 192px;
top: 284px;
left: 195px;
font-family: Montserrat;
font-size: 72px;
font-weight: 800;
line-height: 96px;
text-align: left;
gap: 40px;
}
.photo{
    position: absolute;
    width: 206px;
height: 516px;
top: 133px;
left: 1516px;
}
.photo1{
    position: absolute;
    width: 709px;
height: 515px;
top: 425px;
left: 1012px;
}
.trip{
    position: absolute;
    width: 256px;
height: 65px;
top: 546px;
left: 195px;
border-radius: 50px 50px 50px 50px;
background-color: #FF8D3F;
color: white;
}
.a{
    position: absolute;
    width: 360px;
    height: 400px;
top: 1325px;
left: 231.44px;
angle: 50 deg;
width: 362px;
height: 54px;
top: 1216px;
left: 269px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;

}
.s{
    width: 250px;
    height: 100px;
top: 1260px;
left: 618.88px;
angle: 90.51 deg;
width: 319px;
height: 82px;
top: 1134px;
left: 659px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;

}
.d{
    width: 168.69px;
    top: 1220px;
    left: 983.51px;
    opacity: 0px;
    angle: 90.51 deg;
    width: 295px;
height: 27px;
top: 1122px;
left: 1016px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: center;
}
.f{
    width: 144.01px;
    top: 1450.08px;
    left: 209.29px;
    angle: 90.51 deg; 
    width: 245px;
height: 54px;
top: 1382px;
left: 251px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: left;

}
.g{
    width: 165.01px;
    top: 1425.23px;
    left: 536.47px;
    angle: 90.51 deg;
    width: 269px;
height: 27px;
top: 1337px;
left: 585px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: center;

}
.h{
    width: 163.73px;
    top: 1395.32px;
    left: 885.46px;
    angle: 90.51 deg;
    width: 290px;
height: 27px;
top: 1296px;
left: 921px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 27px;
text-align: center;

}
.j{
    width: 160.93px;
    top: 1600.18px;
    left: 428.44px;
    angle: 90.51 deg;
}
.k{
    width: 160.93px;
   
    top: 1550.05px;
    left: 794.44px;
    angle: 90.51 deg;
}
.iki{
    display:flexbox;
}
.x{
    position:absolute;
    left: 1600px;
    top: 1300px;
}
.har{
height: 100px;
top: 1699px;
left: 1674px;
font-family: Montserrat;
font-size: 36px;
font-weight: 800;
line-height: 50px;
text-align: center;
}
.logot{
    position: absolute;
    width: 265px;
    height: 200px;
    top: 3000px;
    left: 143px;  
}
.full{
    position: absolute;
    width: 849px;
    height: 24px;
    top: 3000px;
    left: 760px;
}
.name2{
    top: 3500px;
    left: 195px;
    font-family: Montserrat;
font-size: 64px;
font-weight: 800;
line-height: 96px;
text-align: left
}
.logo2{
    position: absolute;
    width: 265px;
    height: 200px;
    top: 3400px;
    left: 143px;  
}
.text2{
    position: absolute;
    width: 849px;
height: 24px;
top: 3400px;
left: 760px;
}
h2{
    position: absolute;
    width: 1088px;
height: 192px;
top: 3650px;
left: 195px;
}
.trip2{
    position: absolute;
    width: 256px;
height: 65px;
top: 3700px;
left: 195px;
border-radius: 50px 50px 50px 50px;
background-color: #FF8D3F;
color: white;
}
.photo2{
    position: absolute;
    width: 1141px;
height: 607.06px;
top: 3800px;
left: 760px;
}
.fon2{
    position: absolute;
    width: 1920px;
    height: 809px;
top: 4450px;
left: 1px;
}   

.prolog{
    position: absolute;
    width: 1070px;
height: 666px;
top: 4500px;
left: 522px;
gap: 0px;
border-radius: 30px 30px 30px 30px;
}
.prolog2{
    position: absolute;
    width: 891px;
height: 524px;
top: 4550px;
left: 614px;
}
.krip{
    position: absolute;
    width: 1920px;
height: 180px;
top: 5250px;
left: 1px;
}
.footer{
    position: absolute;
    width: 1934px;
top: 5431px;
left: 1px;
}
.nane{
    position: absolute;
top: 5750px;
left: 300px;
}
.fon3{
    position: absolute;
    width: 1920px;
height: 494px;
top: 5870px;
}
.logo3{
    position: absolute;
    width: 265px;
    height: 200px;
    top: 5870px;
    left: 143px;  
}
.text3{
    position: absolute;
    width: 849px;
    height: 24px;
    top: 5900px;
    left: 760px;
}
.name3{
    position: absolute;
top: 6100px;
left: 416px;
}
.z{
position: absolute;
width: 490px;
height: 490px;
top: 6300px;
left: 195px;
gap: 0px;
border-radius: 20px 0px 0px 0px;
}
.x{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 6300px;
    left: 695px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
}
.c{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 6300px;
    left: 1195px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
}
.v{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 6800px;
    left: 195px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    
}
.b{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 6800px;
    left: 695px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
}
.n{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 6800px;
    left: 1195px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
}
.m{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 7300px;
    left: 195px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    
    
}
.q{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 7300px;
    left: 695px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
}
.w{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 7300px;
    left: 1195px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
}
.zx{
    position: absolute;
  
    top: 6400px;
    left: 304px;

    
}
.xc{
    position: absolute;
  
    top: 6400px;
    left: 804px;
}
.cv{
    position: absolute;
    top: 6400px;
    left: 1304px;
}
.vb{
    position: absolute;
    top: 6900px;
    left: 304px;

    
}
.bn{
    position: absolute;
    top: 6900px;
    left: 804px;
}
.nm{
    position: absolute;
    top: 6900px;
    left: 1204px;
}
.mq{
    position: absolute;
    top: 7400px;
    left: 304px;

    
}
.qw{
    position: absolute;
    top: 7400px;
    left: 804px;  
}
.we{
    position: absolute;
    top: 7400px;
    left: 1304px;
}
.footer2{
    position: absolute;
top: 8050px;
left: 1px;
}
.nane2{
    position: absolute;
    width: 834px;
top: 8300px;
left: 600px;
}